

<%= form_for @recommendation, html:{class:"form-group"} do |f|%>
    <p><%= f.label :friendship_id, "Choose a friend to recommend #{@bookshop} to"%></p>
    <%= f.collection_select :friendship_id, current_user.friender_friendships, :id, :friendee_name %>
    <%= f.text_area :message,placeholder:"Write message here", size: "70x5", class:"form-control"%>
    <%= f.submit "submit", class:"btn btn-secondary"%>
<%end%>
