<h1> Browse Bookshops </h1>

<div class="searchdiv"><%= render "/shared/search" %></div>
<div class="pagnation" ><%= will_paginate @bookshops%></div>
<ol class="container-1" >
    <% @bookshops.each do |bookshop| %>

        <li class="container-2">
            
            <h4 class= "shop_names"> <%= link_to bookshop.name, bookshop_path(bookshop) %> </h4>
            <img src=<%=bookshop.image%> > 
            <img class="rating"src=<%=asset_path("#{bookshop.rating_pic}.png")%>>
          
        </li>

    <% end %>

</ol>


<div class="pagnation"><%= will_paginate @posts%></div>
