<h1> Bookshop Index </h1>

<%= render "/shared/search" %>
    <ol class = "list">
    <% @bookshops.each do |bookshop| %>

        <li>
            <h4 class= "shop_names"> <%= link_to bookshop.name, bookshop_path(bookshop) %> </h4>
            <img src=<%=bookshop.image%> > 
            <img src=<%=asset_path("#{bookshop.rating_pic}.png")%>>
        
        </li>

    <% end %>

</ol>


<h4><%= will_paginate @posts%></h4> 
