<h1> <%= "#{@bookshop.name}'s Profile Page" %> </h1>

<p>Store Name: <%= @bookshop.name %></p>
<p>Address: <%= @bookshop.address %>, <%= @bookshop.zipcode %></p>
<p>Phone Number: <%= @bookshop.phone_number %></p>


<%if is_logged_in?%>
    <%= link_to 'Recommend to a Friend', new_recommendation_path%>
    <% if visit = current_user.visited?(@bookshop) %>
        <% if visit.favorite %>
            <%= button_to 'Unfavorite', "/visits/#{visit.id}/unfavorite", method: "patch" %>
        <% else %>
            <%= button_to 'Favorite', "/visits/#{visit.id}/favorite", method: "patch" %>
        <% end %>
    <% else %>
        <%= button_to 'Visited', "/visits", method: "post" %>
    <% end %>
<%end%>
