<h1> Edit Profile </h1>

<%= render "/shared/errors" %>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit "Update Profile" %>

<% end %>